<a href="https://colab.research.google.com/github/saraygarciag/Tareas_Saray_Garcia/blob/main/GarciaSaray_Parcial1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import matplotlib.pyplot as plt
import altair as alt
import statistics as st
from vega_datasets import data

In [ ]:
df = pd.read_csv('student-mat.csv', 
                 sep = ';',
                 index_col=False,
                 error_bad_lines=False,
                 )
df.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10

[5 rows x 33 columns]

In [ ]:
pd.isnull(df)

          sex    age  address  famsize  ...  absences     G1     G2     G3
school                                  ...
GP      False  False    False    False  ...     False  False  False  False
GP      False  False    False    False  ...     False  False  False  False
GP      False  False    False    False  ...     False  False  False  False
GP      False  False    False    False  ...     False  False  False  False
GP      False  False    False    False  ...     False  False  False  False
...       ...    ...      ...      ...  ...       ...    ...    ...    ...
MS      False  False    False    False  ...     False  False  False  False
MS      False  False    False    False  ...     False  False  False  False
MS      False  False    False    False  ...     False  False  False  False
MS      False  False    False    False  ...     False  False  False  False
MS      False  False    False    False  ...     False  False  False  False

[395 rows x 32 columns]

In [ ]:
df.isnull().values.any()

False

In [ ]:
df.isnull().sum().sum() #No hay nulos's

0

In [ ]:
df.isna().values.any() #No hay na's

False

In [ ]:
#1 
rural = sum(df['address']=="R")
rural

88

In [ ]:
urb = sum(df['address']=="U")
urb

307

In [ ]:
mujeresrural = sum((df['address']=="R") & (df['sex']=="F" ))
mujeresrural

44

In [ ]:
homrural = sum((df['address']=="R") & (df['sex']=="M" ))
homrural

44

In [ ]:
#2
unahora = sum((df['address']=="R") & (df['traveltime']== 4 ))
unahora

5

In [ ]:
unahora = sum((df['address']=="R") & (df['traveltime']== 4 ) & (df['sex']=="M" ))
unahora

4

In [ ]:
unahora2 = sum((df['address']=="R") & (df['traveltime']== 4 ) & (df['sex']=="F" ))
unahora2

1

In [ ]:
#3
fallasmujer = sum((df['address']=="R") & (df['failures']== 4 ) & (df['sex']=="F" ))
fallasmujer

0

In [ ]:
fallashombre = sum((df['address']=="R") & (df['failures']== 4 ) & (df['sex']=="M" ))
fallashombre

0

In [ ]:
#4 
escolaridad = sum((df['Fedu']==4) & (df['Medu']== 4 ))
escolaridad

70

In [ ]:
#5
df2 = df[['school','internet','G1','G2','G3']]
df2['Nota Final'] = (df2['G1']+df2['G2']+df2['G3'])/3
df2 = df2[['school','internet','Nota Final']]
pd.pivot_table(df2, index=['school','internet'], aggfunc= np.mean)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                 Nota Final
school internet
GP     no         10.038462
       yes        10.859708
MS     no          9.071429
       yes        10.750000

In [ ]:
#6 
df['califtotal'] = df['G1'] + df['G2'] + df['G3']

media = st.mean(df['califtotal'])
mediana = st.median(df['califtotal'])
min = np.min(df['califtotal'])
max = np.max(df['califtotal'])
print("La media de la calificacion total es: ", media)
print("La mediana  de la calificacion total es: ", mediana)
print("La minima calificacion total es: ", min)
print("La máxima calificacion total es: ", max)

La media de la calificacion total es:  32.037974683544306
La mediana  de la calificacion total es:  32
La minima calificacion total es:  4
La máxima calificacion total es:  58

In [ ]:
#7
#Yo realizaria una regresión, podria predecir cuánto sacará un alumno en su nota de matematicas de acuerdo
#a sus caracteristicas propias como el contexto en el que vivie, sea una propiedad rural o urbana, el nivel
#de educacion de sus padres, el tiempo de ocio que tiene.
#La hipotesis podria ser pronosticar si es cierto que alguien saca menos nota en matematicas porque vive en zona rural o urbana.