<a href="https://colab.research.google.com/github/saraygarciag/Tareas_Saray_Garcia/blob/main/Parcial1_Miner%C3%ADa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import matplotlib.pyplot as plt
import altair as alt
from vega_datasets import data

In [4]:
df = pd.read_csv('student-mat.csv', 
                 sep = ';',
                 index_col=0,
                 error_bad_lines=False,
                 dtype={
                     'Nit Entidad': str
                 })
df.head()

       sex  age address famsize Pstatus  ...  health  absences  G1  G2  G3
school                                   ...
GP       F   18       U     GT3       A  ...       3         6   5   6   6
GP       F   17       U     GT3       T  ...       3         4   5   5   6
GP       F   15       U     LE3       T  ...       3        10   7   8  10
GP       F   15       U     GT3       T  ...       5         2  15  14  15
GP       F   16       U     GT3       T  ...       5         4   6  10  10

[5 rows x 32 columns]

In [10]:
pd.isnull(df)

          sex    age  address  famsize  ...  absences     G1     G2     G3
school                                  ...
GP      False  False    False    False  ...     False  False  False  False
GP      False  False    False    False  ...     False  False  False  False
GP      False  False    False    False  ...     False  False  False  False
GP      False  False    False    False  ...     False  False  False  False
GP      False  False    False    False  ...     False  False  False  False
...       ...    ...      ...      ...  ...       ...    ...    ...    ...
MS      False  False    False    False  ...     False  False  False  False
MS      False  False    False    False  ...     False  False  False  False
MS      False  False    False    False  ...     False  False  False  False
MS      False  False    False    False  ...     False  False  False  False
MS      False  False    False    False  ...     False  False  False  False

[395 rows x 32 columns]

In [7]:
df.isnull().values.any()

False

In [8]:
df.isnull().sum().sum() #No hay nulos's

0

In [9]:
df.isna().values.any() #No hay na's

False

In [20]:
#1 pd.pivot_table(df, index=['address','sex'], aggfunc=np.sum)
rural = sum(df['address']=="R")
rural

88

In [23]:
urb = sum(df['address']=="U")
urb

307

In [30]:
mujeresrural = sum((df['address']=="R") & (df['sex']=="F" ))
mujeresrural

44

In [32]:
homrural = sum((df['address']=="R") & (df['sex']=="M" ))
homrural

44

In [36]:
#2
unahora = sum((df['address']=="R") & (df['traveltime']== 4 ))
unahora

5

In [37]:
unahora = sum((df['address']=="R") & (df['traveltime']== 4 ) & (df['sex']=="M" ))
unahora

4

In [38]:
unahora2 = sum((df['address']=="R") & (df['traveltime']== 4 ) & (df['sex']=="F" ))
unahora2

1

In [39]:
#3
fallas = sum((df['address']=="R") & (df['failures']== 4 ) & (df['sex']=="F" ))
fallas

0

In [ ]:
#4